<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
    {% block css %}{% endblock css %}
    <title>Book Rental</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><a class='fw-bold text-decoration-none text-black' href="{% url 'home' %}">Library</a></div>
            <div class="list-group list-group-flush">
                <div class="btn-group dropend">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 " href="{% url 'books:books_list' %}">Books List</a>
                    {% block category %}
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'books:category_books_list' category.id %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endblock category %}
                </div>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Menu1</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Menu2</a>
                {% if request.user.is_superuser %}
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'books:book_create' %}">Books Add</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'books:return_books' %}">Not Return List</a>
                {% endif %}
                <form class='d-flex flex-row mt-2' method="POST" action="{% url 'books:book_search' %}">
                    {% csrf_token %}        
                    <input class="form-control me-2" type="search" placeholder="Search" name="word" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"> Search </button>
                </form>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-outline-dark" id="sidebarToggle">Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            {% if request.user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'books:my_rentals' %}">My Rental</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'accounts:update' %}">Update</a>
                                        <a class="dropdown-item" href="{% url 'accounts:changePW' %}">ChangePW</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}" >Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class='p-3'>
                {% block contents %}
    
                {% endblock contents %}
            </div>
        </div>
    </div>

    {% block script %}
    
    {% endblock script %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>